html, body {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: arial;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

body.dark {
  background-color: #333;
  color: #e7e7e7;
}

.preview {
  border: #333 1px solid;
  margin: 0;
  padding: 0;

  width: 1200px;
  height: 800px;

  /* box shadow */
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}
.dark .preview {
  border: #666 1px solid;
}

a.link {
  color: #07D;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  display: block;
  word-wrap: break-word;
  width: 200px;
  padding: 10px;
}
.dark a.link {
  color: #7AF;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  padding: 10px;
  margin: 0;
  text-align: left;
  display: inline-block;
  width: auto;
}

button.add,
button.mvup,
button.mvdn,
button.editt,
button.del {
  line-height: 2px;
  height: 23px;
  width: 23px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  margin: 0 0 0 2px;
}

  button.editt {
    margin: 2px 0 2px 10px;
  }

  button.editt,
  button.mvup,
  button.mvdn {
    background-color: #bcf;
    color: #357;
    border: 1px solid #07D;
  }

    .dark button.editt,
    .dark button.mvup,
    .dark button.mvdn {
      background-color: #07D;
      color: #bcf;
      border: 1px solid #98b2ff;
    }

  button.del {
    background-color: #FAA;
    color: #700;
    border: 1px solid #600;
  }

    .dark button.del {
      background-color: #600;
      color: #FAA;
      border: 1px solid #A00;
    }

  button.add {
    font-weight: bold;
    font-size: 20px;
    background-color: #0A0;
    color: #060;
    border: 1px solid #060;
  }

    .dark button.add {
      background-color: #060;
      color: #AFA;
      border: 1px solid #0A0;
    }

div.form {
  padding: 10px;
  margin: 0 0 50px 0;
}

.edit-list {
  width: 645px;
}

.edit-list li {
  width: auto;
  background: transparent;
}

.edit-list li:hover {
  background: rgba(0, 128, 255, .125);
}

.dark .edit-list li:hover {
  background: rgba(0, 128, 255, .25);
}

.edit-list span.times {
  display: inline-block;
  opacity: .6;
  width: 30px;
  text-align: right;
  margin: 0 5px 0 0;
}

.edit-list span.task {
  display: inline-block;
  width: 500px;
  border-bottom: 1px solid #DADADA;
}

.dark .edit-list span.task {
  border-bottom: 1px solid #555;
}

.edit-list span.task.category {
  font-weight: bold;
  border-bottom: 0 none;
  position: relative;
  left: -30px;
}

table.taskTable {
  position: relative;
  z-index: 2;
}

div#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #FFF;
  opacity: .85;
  z-index: 3;
}

.dark div#top-bar {
  background-color: #333;
}

table.taskTable div.cell {
  border: 2px solid #AAA;
  margin: 1px;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 0;
  background: #FCFCFC;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

table.taskTable div.cell.day,
table.taskTable div.cell.task,
table.taskTable div.cell.category {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  cursor: default;
}

table.taskTable div.cell.an {
  border-top-style: dashed;
  border-bottom-style: dashed;
}

table.taskTable div.cell.last-cell {
  border-radius: 0 0 15px 0;
}
table.taskTable div.cell.top-last-cell {
  border-radius: 0 15px 0 0;
}
table.taskTable div.cell.top-last-cell.last-cell {
  border-radius: 0 15px 15px 0;
}

table.taskTable div.cell.task {
  padding: 0 20px;
  border-color: #0A0;
  color: #060;
  background: #EFE;
  border-radius: 15px 0 0 15px;
}

table.taskTable div.cell.day {
  border-color: #A0A;
  color: #707;
  background: #FEE;
  border-radius: 15px 15px 0 0;
}

.dark table.taskTable div.cell {
  border-color: #666;
  color: #CCC;
  background: #444;
}

.dark table.taskTable div.cell.task {
  border-color: #060;
  color: #AFA;
  background: #343;
}

table.taskTable div.cell.task.category {
  border: 0 none;
  color: #38E;
  background: transparent;
  font-size: 24px;
  font-weight: bold;
}

.dark table.taskTable div.cell.task.category {
  color: #FFF;
}

.dark table.taskTable div.cell.day {
  border-color: #A0A;
  color: #F7F;
  background: #424;
}

table.taskTable div.cell.empty {
  border-color: transparent;
  background: transparent;
}

button {
  /* remove all apple and android styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button.light-switch {
  position: fixed;
  padding: 0;
  top: 20px;
  right: 20px;
  background-color: #9CF;
  font-size: 50px;
  border: 1px solid #000;
  height: 50px;
  line-height: 1px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 4;
  box-sizing: border-box;
}

button.light-switch div {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 12px;
  background: #ff0;
  border-radius: 12px;
}

.dark button.light-switch {
  background-color: #00377a;
  border: 1px solid #fff;
}

.dark button.light-switch div {
  background: #00377a;
  left: 16px;
  border: 8px solid #FFE;
  border-right: 0;
  border-top: 4px;
  border-bottom: 4px;
}

button.edit {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #F0F0F0;
  border: 1px solid #000;
  height: 50px;
  line-height: 1px;
  font-size: 18px;
  padding: 0 20px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 4;
}

.dark button.edit {
  background-color: #555;
  border: 1px solid #FFF;
  color: #CCC;
}

button.new-session,
button.join-session,
button.icon-btn {
  position: fixed;
  top: 20px;
  left: 50%;
  background-color: #F0F0F0;
  border: 1px solid #000;
  height: 50px;
  width: 150px;
  line-height: 1px;
  font-size: 18px;
  padding: 0;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  z-index: 4;
}

button.icon-btn {
  width: 50px;
  margin-left: -25px;
  border-radius: 0;
}

button.icon-btn.round {
  border-radius: 25px;
}

button.new-session {
  margin-left: -177px;
  border-radius: 25px 0 0 25px;
}

button.join-session {
  margin-left: 27px;
  border-radius: 0 25px 25px 0;
}

.dark button.new-session,
.dark button.join-session,
.dark button.icon-btn {
  background-color: #555;
  border: 1px solid #FFF;
  color: #CCC;
}

div.session-id {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #777;
  font-size: 12px;
  z-index: 1;
}

div.icon-dialog {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #DDD;
  border: 2px solid #555;
  z-index: 5;
  overflow: auto;
  text-align: center;

  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}

div.icon-dialog .cell {
  border: 2px solid #555;
  margin: 1px;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 0;
  background: #FCFCFC;
  cursor: pointer;
}

.dark div.icon-dialog .cell {
  border: 2px solid #666;
  background: #444;
  color: #CCC;
}

div.icon-dialog .cell.selected {
  border: 4px solid #07F;
  background: #ACF;
}

.dark div.icon-dialog {
  background-color: #333;
  border: 2px solid #666;
}

div.icon-dialog table {
  width: auto;
  height: auto;
  margin: 50px auto;
}

@media print
{
    button.edit,
    button.light-switch,
    button.new-session,
    button.join-session,
    div.session-id,
    div#top-bar,
    div.icon-dialog,
    button.icon-btn
    {
        display: none !important;
    }

    .page {
      height: auto;
    }

    .cell {
      background: transparent;
      border: 2px solid #555;
    }

    .cell.task {
      border-color: #070;
      color: #070;
    }

    .cell.day {
      border-color: #707;
      color: #707;
    }

    .cell.task.category {
      color: #000;
    }
}
